<?php
declare(strict_types=1);

$header = <<<EOF
GpsLab component.

@author  Peter Gribanov <info@peter-gribanov.ru>
@license http://opensource.org/licenses/MIT
EOF;

$rules = [
    '@Symfony' => true,
    'header_comment' => [
        'comment_type' => 'PHPDoc',
        'header' => $header,
    ],
    'single_line_throw' => false,
    'blank_line_after_opening_tag' => false,
    'yoda_style' => false,
    'ordered_imports' => [
        'sort_algorithm' => 'alpha',
    ],
];

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
    ->notPath('bootstrap.php')
;

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setFinder($finder)
;
