<?php

$header = <<<EOF
GpsLab component.

@author  Peter Gribanov <info@peter-gribanov.ru>
@license http://opensource.org/licenses/MIT
EOF;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => [
            'comment_type' => 'PHPDoc',
            'header' => $header,
        ],
        'class_definition' => [
            'multi_line_extends_each_single_line' => true,
        ],
        'no_superfluous_phpdoc_tags' => false,
        'single_line_throw' => false,
        'blank_line_after_opening_tag' => false,
        'yoda_style' => false,
        'phpdoc_no_empty_return' => false,
        'ordered_imports' => [
            'sort_algorithm' => 'alpha',
        ],
        'list_syntax' => [
            'syntax' => 'short',
        ],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->in(__DIR__.'/tests')
            ->notPath('bootstrap.php')
    )
    ;